@charset "utf-8";
/* CSS Document */
body{ background:#f9f9f9; }
.pay{ margin:0 auto; width:7.2rem; font-family:Microsoft YaHei;position:relative;}
.pay .title{ height:0.6rem; line-height:1.2rem; color:#fff; font-size:.42rem; text-align:center; letter-spacing:1px;  }

.nickname{ margin:0 auto .5rem; width:6.46rem; height:1.7rem; line-height:1.7rem; color:#414141; border-bottom:.01rem #e1e1e1 solid;  font-size:.35rem; text-align:center;}
.nickname input{ width:3.5rem; height:.82rem; background:#efefef; line-height:.82rem; text-align:center; color:#9b9b9b; border:.01rem #B4B4B4 solid; -moz-border-radius:.1rem; -webkit-border-radius:.1rem; border-radius:.1rem}

.pay_list h4{ margin:.33rem auto .22rem; font-size:.35rem; color:#404040; letter-spacing:1px; text-align:center; font-weight:normal;}
.btn_pay{ display:block; margin:0 auto; padding-left:.3rem;  width:6.16rem; height:1.01rem; line-height:1.01rem; text-align:center; font-size:.42rem; color:#30b145; background:#fff; border:1px #E8E8E8 solid; -moz-border-radius:.1rem; -webkit-border-radius:.1rem; border-radius:.1rem;}
.btn_pay span{ bottom:0; right:0; width:.77rem; height:.78rem; background:url(http://png.gc73.com.cn/website_img/opay/select_ico.png) no-repeat; background-size:100% 100%;}
.pay_selected{ text-align:left;}
.pay_selected em,.list ul em{ margin-right:.5rem; color:#30b145; font-style:normal;}
.no_bb{border-bottom:0;  height: 1.01rem;margin-bottom:.29rem;}
.list{ margin:0 auto; width:6.6rem; height:auto; background:#fff;-moz-border-radius:.1rem; -webkit-border-radius:.1rem; border-radius:.1rem; -webkit-box-shadow: 0 0 .05rem #e3e3e3; -moz-box-shadow: 0 0 .05rem #e3e3e3;  box-shadow:-2px 0 5px #e3e3e3,0 0 0 #e3e3e3,0 4px 5px #e3e3e3,2px 0 5px #e3e3e3; overflow:hidden; font-size:.35rem;}
.tab_pay{  overflow:hidden;}
.tab_pay a{ float:left; width:2.18rem; height:.76rem; line-height:.76rem; border-bottom:.02rem #d7d7d7 solid; color:#444444; font-weight:bold; text-align:center;}
.tab_pay a:hover,.tab_pay a.on{ height:.71rem; color:#0ea92b; border-bottom:.07rem #0ea92b solid;}
.tab_pay a.bor_rig{ border-right:.02rem #d7d7d7 solid;}
.tab_pay_ddz a{ width:6.6rem;}
.list ul{ margin:0 auto; width:6.5rem;}
.list ul li{ position:relative; height:1rem; line-height:1rem; cursor:pointer;}
.list ul li:nth-child(odd){background:#fefefe;}
.list ul li:nth-child(even){background:#edf9ef;}
.list ul span{ width:1.62rem; text-align:right; color:#686868;}
.list ul strong{ top:.05rem; left:.06rem; width:.59rem; height:.54rem; background:url(http://png.gc73.com.cn/website_img/opay/pay_on.png) no-repeat;background-size:100% 100%;}

.btn_recharge{ display:block; margin:1rem 0 .2rem 0.3rem; width:6.7rem; height:.86rem;  line-height:.86rem; color:#fff; text-align:center; font-size:.42rem; letter-spacing:.02rem; background:#02ce28;-moz-border-radius:.15rem; -webkit-border-radius:.15rem; border-radius:.15rem; float:left;}
.btn_recharge_wy{ margin-left: 20px; }
.hint{ margin-top:.2rem; font-size:.28rem; color:#ff0000; text-align:center;}

#TB_overlay { height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 100;}
.TB_overlayBG { background-color: #000000; opacity: 0.75;}
.caution {color:#7b7979; font-size:.26rem; text-align:left; letter-spacing:1px;width:6.46rem;margin:0 auto .12rem;}
.caution i{display:inline-block;font-style:normal;vertical-align:top;width:.7rem;}
.caution span{display:inline-block;width:5.67rem;}
.caution strong{color:#f60d0d;font-weight:normal}
.img_block{display:block;margin:.2rem auto 0;width:1.12rem;height:.2rem;}
.loading{margin: 1.5rem auto 0.2rem;}
.pook_content{color: #5b5b5b;font:.28rem microsoft yahei;text-align:center;}
.pook_content .title{font-size:.36rem;margin-bottom:0.2rem;}
.pook_content span{color:#a40000;}
.pook_content a{color:#a40000;text-decoration:underline;}
.method{clear:both;color: #e8890d;font-size: 0.33rem;font-weight:bold;width:6.46rem;margin:0 auto;height:.66rem;line-height:.66rem;}
.method a{color:#FFF;text-align:center;margin-right:.15rem;width:1.98rem;height:.58rem;line-height:.58rem;background:#a2a2a2;display:inline-block;font-size:.27rem;margin-top:.25rem;}
.method a.on{background:#feac01;}
.ht{/*height:1.26rem;*/}
.method a.no_mr{margin-right:0;}
.mt{margin-top:.2rem;border-bottom:.03rem #bebebe solid;text-align:center;}
.gift_style{float:left;width:3rem;line-height: 1.01rem;}
.nickname .pay_list{width:3.46rem;float:left;}
.nickname .btn_pay{width:3.46rem; padding-left: 0rem;text-align:center;}
.nickname .list{width:3.46rem;}
.nickname .list ul{width:3.36rem;}
.key_title{color: #414141;font-size: 0.35rem;text-align:center;margin-bottom:.2rem;}
.key{font-size:.35rem;text-align:center;}
.key input{width:6.7rem; height:.82rem; background:#efefef; line-height:.82rem; text-align:center; color:#9b9b9b; border:.01rem #B4B4B4 solid; -moz-border-radius:.1rem; -webkit-border-radius:.1rem; border-radius:.1rem;}
.un_zfb{position:absolute;top:.15rem;left:3.55rem;font-size:.18rem;}
.un_zfb_01{position:absolute;top:.15rem;left:5.69rem;font-size:.18rem;}
.order_t{color: #414141;font-size: 0.35rem;text-align:center;width: 5.8rem;margin:0 auto;}
.order_con{color: #414141;font-size: 0.45rem;text-align:center; margin: 0.2rem 0 0.3rem;}
.caution_b{position:absolute;left:.34rem;top:6.5rem;}
.fail_t{color: #414141;font-size: 0.35rem;text-align:center;width: 5.8rem;margin:1rem auto 0;}
.fail_con{color: #414141;font-size: 0.35rem;text-align:center;width: 5.8rem;margin: 0.3rem auto 0;}
.hint_01{background:url(http://png.gc73.com.cn/website_img/opay/hint_bg.gif) no-repeat; width:6.85rem; height:1.49rem;background-size:100% 100%; top:0px; left:.15rem; z-index:99999;position: fixed;}
.fare_style_t{color: #414141;font-size: 0.35rem;text-align:center;margin-bottom:.11rem;}
.fare_style_c{color:#686868;font-size:.34rem;margin-bottom:.22rem;}
.fare_style_c span{vertical-align:middle;}
.fare_style_c a{width:.6rem;height:.6rem;display:inline-block;background:#ffffff;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border:1px #c2c2c2 solid;vertical-align:middle;text-align:center;margin:0 .13rem 0 .7rem;}
.fare_style_c a span.on{width:.42rem;height:.42rem;background:#02c723;display:inline-block;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;}
.card{color: #414141;font-size: 0.35rem;margin-bottom:.16rem; padding-left:.26rem;}
.card input{width:5.56rem; height:.82rem; background:#efefef; line-height:.82rem; text-align:center; color:#9b9b9b; border:.01rem #B4B4B4 solid; -moz-border-radius:.1rem; -webkit-border-radius:.1rem; border-radius:.1rem;font-size:.32rem;margin-left:.24rem;}
.account{overflow:hidden;}
.account li{float:left;width:1.44rem;height:.83rem;line-height:.83rem;font-size:.34rem;text-align:center;margin:.08rem .11rem 0;}
.account li a{color:#686868;width:1.44rem;height:.79rem;display:inline-block;border:.01rem #c2c2c2 solid;-moz-border-radius:.1rem; -webkit-border-radius:.1rem; border-radius:.1rem;}
.account li a.on{background:#02ce28;color:#FFF;border:.01rem #02ce28 solid;box-shadow: #01c11f .08rem .08rem .08rem inset;-webkit-box-shadow: #01c11f .08rem .08rem .08rem inset;-moz-box-shadow: #01c11f .08rem .08rem .08rem inset;-ms-box-shadow: #01c11f .08rem .08rem .08rem inset;-o-box-shadow: #01c11f .08rem .08rem .08rem inset;}
.account li:nth-child(1),.account li:nth-child(5){margin-left:.3rem;}
.account_tip{color:#ff0000;font-size:.24rem; line-height: 0.49rem;padding-left: 0.3rem;}
.fare_sure{margin-top:.27rem;}
.caution .tip{font-size:.3rem;color:#f60d0d;text-align:center;padding-top:.45rem;}
@media only screen and (min-width:0px) and (max-width:320px){.caution i{width:.78rem;}.caution span{width:5.56rem;}}
@media only screen and (min-width:320px) and (max-width:360px){.caution i{width:.78rem;}.caution span{width:5.56rem;}}
@media only screen and (min-width:360px) and (max-width:480px){.caution i{width:.74rem;}.caution span{width:5.6rem;}}
@media only screen and (min-width:480px) and (max-width:640px){.caution i{width:.72rem;}.caution span{width:5.65rem;}}
@media only screen and (min-width:640px) and (max-width:720px){.caution i{width:.7rem;}.caution span{width:5.67rem;}}
@media only screen and (min-width:720px) and (max-width:768px){.caution i{width:.7rem;}.caution span{width:5.67rem;}}
